*{
  margin: 0px;
  padding: 0px;
}

 /* Very Dark Grayish Blue: hsl(217, 19%, 35%)
 - Desaturated Dark Blue: hsl(214, 17%, 51%)
 - Grayish Blue: hsl(212, 23%, 69%)
 - Light Grayish Blue: hsl(210, 46%, 95%) */
/* #show-el{
  display: none;
} */
body{
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}
.container{
  display: flex;
  /* margin: 300px auto 300px auto; */
  margin: 200px;
  justify-content: flex-start;
  

}
.drawer{
  width:400px;
  height: 350px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.right{
  box-sizing: border-box;
  background-color: #fff;
  height: 350px;
  width: 550px;
  padding: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.heading{
  font-size: 28px;
  margin-bottom: 20px;
  color:hsl(217, 19%, 35%);
}
.heading-text{
  font-size: 16px;
  margin-bottom: 20px;
  color:hsl(212, 23%, 69%);
  margin-right: 50px;
}
.name{
  font-size: 18px;
  font-weight: 700;
  color:hsl(217, 19%, 35%);
  margin-bottom: 5px;
}
.name-div{
  margin-left: 15px;
}
.date{
  color:hsl(212, 23%, 69%);
}
.share-icon{
  padding: 10px;
  width: 15px;
  height: 13px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 100%;
  cursor: pointer;
}
.avatar-flex{
  display: flex;
  justify-content: space-between;
}
.michelle-img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.avatar{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* .show{
  display: flex;
  background-color: hsl(217, 19%, 35%);
  align-items: center;
  padding: 20px 30px ;
  box-sizing: border-box;
  width: 200px;
  border-radius: 20px;
  align-self:flex-end; 
}*/

.wrapper{
  display: inline-flex;
  padding: 8px;
}
.wrapper .sm-icon{
  margin: 0 10px;
  cursor: pointer;
}
.wrapper .tooltip{
  background-color: hsl(217, 19%, 35%);
  padding: 10px 18px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: lighter;
  color:hsl(210, 46%, 95%)
}
.sm-icon{
  width: 20px;
  height: 20px;
  /* margin-right: 30px; */
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 700px) {
  .container{
    flex-direction: column;
    width:100%;
    height: 100%;
    margin: 50px 20px 50px 20px;
  }
  .drawer{
    width: 100%;
    margin: auto;
  }
  .right{
    width: 100%;
    padding: 30px;
    margin: auto;
  }
  .heading{
    font-size: 16px;
  }
  .heading-text{
    margin-right: 0px;
    font-size: 13px;
  }
  .name{
    font-size: 14px;
  }
  .date{
      font-size: 13px;
    }
  }
